/* 1 grammo = 0,035274 oz */
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRxC7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRzS7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRxi7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRxy7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRyS7m0dR9pA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gTD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gbD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}
.container {
  margin: 0px auto;
  width: 350px;
}
.container .tachometer {
  background: #fff;
  margin: 10px auto;
  width: 350px;
  height: 350px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  display: block;
  position: relative;
  box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.025), 0px 0px 20px 10px rgba(0, 0, 0, 0.025);
}
.container .tachometer .line {
  background: #e99abe;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  transform-origin: 50% 100%;
  margin: -110px -2px 0;
  padding: 110px 2px 0;
  z-index: 2;
  transform: rotate(30deg);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.container .tachometer .line:after {
  position: absolute;
  content: ".";
  background-color: rgba(255, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0);
  bottom: 135px;
  left: 0px;
  width: 4px;
  height: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.container .tachometer .pin {
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  background-color: #fafafa;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  border: solid 1px #add8fe;
}
.container .tachometer.gr .bar {
  position: absolute;
  width: 350px;
  height: 350px;
  z-index: 2;
}
.container .tachometer.gr .bar div {
  position: absolute;
  width: 350px;
  height: 350px;
  padding: 6px;
  box-sizing: border-box;
}
.container .tachometer.gr .bar div b {
  position: absolute;
  display: block;
  left: 50%;
  width: 1px;
  height: 30px;
  background: #add8fe;
  margin: 0 0px 0;
}
.container .tachometer.gr .bar div b .num_text {
  color: yellow;
  width: 40px;
  height: 40px;
  margin: 30px 0px 0px -20px;
  text-align: center;
  position: relative;
  transform: rotate(0deg) !important;
}
.container .tachometer.gr .bar div b .num_text:after {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.container .tachometer.gr .bar div:nth-child(even) b {
  position: absolute;
  display: block;
  left: 50%;
  width: 1px;
  height: 10px;
  background: rgba(173, 216, 254, 0.5);
  margin: 0 0px 0;
  top: 16px;
}
.container .tachometer.gr .bar div:nth-child(1) {
  transform: rotate(calc(195deg + calc( 5*0deg) ));
}
.container .tachometer.gr .bar div:nth-child(1) b .num_text:after {
  content: '0';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(2) {
  transform: rotate(calc(195deg + calc( 5*1deg) ));
}
.container .tachometer.gr .bar div:nth-child(2) b .num_text:after {
  content: '1';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(3) {
  transform: rotate(calc(195deg + calc( 5*2deg) ));
}
.container .tachometer.gr .bar div:nth-child(3) b .num_text:after {
  content: '1';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(4) {
  transform: rotate(calc(195deg + calc( 5*3deg) ));
}
.container .tachometer.gr .bar div:nth-child(4) b .num_text:after {
  content: '2';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(5) {
  transform: rotate(calc(195deg + calc( 5*4deg) ));
}
.container .tachometer.gr .bar div:nth-child(5) b .num_text:after {
  content: '2';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(6) {
  transform: rotate(calc(195deg + calc( 5*5deg) ));
}
.container .tachometer.gr .bar div:nth-child(6) b .num_text:after {
  content: '3';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(7) {
  transform: rotate(calc(195deg + calc( 5*6deg) ));
}
.container .tachometer.gr .bar div:nth-child(7) b .num_text:after {
  content: '3';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(8) {
  transform: rotate(calc(195deg + calc( 5*7deg) ));
}
.container .tachometer.gr .bar div:nth-child(8) b .num_text:after {
  content: '4';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(9) {
  transform: rotate(calc(195deg + calc( 5*8deg) ));
}
.container .tachometer.gr .bar div:nth-child(9) b .num_text:after {
  content: '4';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(10) {
  transform: rotate(calc(195deg + calc( 5*9deg) ));
}
.container .tachometer.gr .bar div:nth-child(10) b .num_text:after {
  content: '5';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(11) {
  transform: rotate(calc(195deg + calc( 5*10deg) ));
}
.container .tachometer.gr .bar div:nth-child(11) b .num_text:after {
  content: '5';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(12) {
  transform: rotate(calc(195deg + calc( 5*11deg) ));
}
.container .tachometer.gr .bar div:nth-child(12) b .num_text:after {
  content: '6';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(13) {
  transform: rotate(calc(195deg + calc( 5*12deg) ));
}
.container .tachometer.gr .bar div:nth-child(13) b .num_text:after {
  content: '6';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(14) {
  transform: rotate(calc(195deg + calc( 5*13deg) ));
}
.container .tachometer.gr .bar div:nth-child(14) b .num_text:after {
  content: '7';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(15) {
  transform: rotate(calc(195deg + calc( 5*14deg) ));
}
.container .tachometer.gr .bar div:nth-child(15) b .num_text:after {
  content: '7';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(16) {
  transform: rotate(calc(195deg + calc( 5*15deg) ));
}
.container .tachometer.gr .bar div:nth-child(16) b .num_text:after {
  content: '8';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(17) {
  transform: rotate(calc(195deg + calc( 5*16deg) ));
}
.container .tachometer.gr .bar div:nth-child(17) b .num_text:after {
  content: '8';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(18) {
  transform: rotate(calc(195deg + calc( 5*17deg) ));
}
.container .tachometer.gr .bar div:nth-child(18) b .num_text:after {
  content: '9';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(19) {
  transform: rotate(calc(195deg + calc( 5*18deg) ));
}
.container .tachometer.gr .bar div:nth-child(19) b .num_text:after {
  content: '9';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(20) {
  transform: rotate(calc(195deg + calc( 5*19deg) ));
}
.container .tachometer.gr .bar div:nth-child(20) b .num_text:after {
  content: '10';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(21) {
  transform: rotate(calc(195deg + calc( 5*20deg) ));
}
.container .tachometer.gr .bar div:nth-child(21) b .num_text:after {
  content: '10';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(22) {
  transform: rotate(calc(195deg + calc( 5*21deg) ));
}
.container .tachometer.gr .bar div:nth-child(22) b .num_text:after {
  content: '11';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(23) {
  transform: rotate(calc(195deg + calc( 5*22deg) ));
}
.container .tachometer.gr .bar div:nth-child(23) b .num_text:after {
  content: '11';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(24) {
  transform: rotate(calc(195deg + calc( 5*23deg) ));
}
.container .tachometer.gr .bar div:nth-child(24) b .num_text:after {
  content: '12';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(25) {
  transform: rotate(calc(195deg + calc( 5*24deg) ));
}
.container .tachometer.gr .bar div:nth-child(25) b .num_text:after {
  content: '12';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(26) {
  transform: rotate(calc(195deg + calc( 5*25deg) ));
}
.container .tachometer.gr .bar div:nth-child(26) b .num_text:after {
  content: '13';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(27) {
  transform: rotate(calc(195deg + calc( 5*26deg) ));
}
.container .tachometer.gr .bar div:nth-child(27) b .num_text:after {
  content: '13';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(28) {
  transform: rotate(calc(195deg + calc( 5*27deg) ));
}
.container .tachometer.gr .bar div:nth-child(28) b .num_text:after {
  content: '14';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(29) {
  transform: rotate(calc(195deg + calc( 5*28deg) ));
}
.container .tachometer.gr .bar div:nth-child(29) b .num_text:after {
  content: '14';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(30) {
  transform: rotate(calc(195deg + calc( 5*29deg) ));
}
.container .tachometer.gr .bar div:nth-child(30) b .num_text:after {
  content: '15';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(31) {
  transform: rotate(calc(195deg + calc( 5*30deg) ));
}
.container .tachometer.gr .bar div:nth-child(31) b .num_text:after {
  content: '15';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(32) {
  transform: rotate(calc(195deg + calc( 5*31deg) ));
}
.container .tachometer.gr .bar div:nth-child(32) b .num_text:after {
  content: '16';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(33) {
  transform: rotate(calc(195deg + calc( 5*32deg) ));
}
.container .tachometer.gr .bar div:nth-child(33) b .num_text:after {
  content: '16';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(34) {
  transform: rotate(calc(195deg + calc( 5*33deg) ));
}
.container .tachometer.gr .bar div:nth-child(34) b .num_text:after {
  content: '17';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(35) {
  transform: rotate(calc(195deg + calc( 5*34deg) ));
}
.container .tachometer.gr .bar div:nth-child(35) b .num_text:after {
  content: '17';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(36) {
  transform: rotate(calc(195deg + calc( 5*35deg) ));
}
.container .tachometer.gr .bar div:nth-child(36) b .num_text:after {
  content: '18';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(37) {
  transform: rotate(calc(195deg + calc( 5*36deg) ));
}
.container .tachometer.gr .bar div:nth-child(37) b .num_text:after {
  content: '18';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(38) {
  transform: rotate(calc(195deg + calc( 5*37deg) ));
}
.container .tachometer.gr .bar div:nth-child(38) b .num_text:after {
  content: '19';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(39) {
  transform: rotate(calc(195deg + calc( 5*38deg) ));
}
.container .tachometer.gr .bar div:nth-child(39) b .num_text:after {
  content: '19';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(40) {
  transform: rotate(calc(195deg + calc( 5*39deg) ));
}
.container .tachometer.gr .bar div:nth-child(40) b .num_text:after {
  content: '20';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(41) {
  transform: rotate(calc(195deg + calc( 5*40deg) ));
}
.container .tachometer.gr .bar div:nth-child(41) b .num_text:after {
  content: '20';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(42) {
  transform: rotate(calc(195deg + calc( 5*41deg) ));
}
.container .tachometer.gr .bar div:nth-child(42) b .num_text:after {
  content: '21';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(43) {
  transform: rotate(calc(195deg + calc( 5*42deg) ));
}
.container .tachometer.gr .bar div:nth-child(43) b .num_text:after {
  content: '21';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(44) {
  transform: rotate(calc(195deg + calc( 5*43deg) ));
}
.container .tachometer.gr .bar div:nth-child(44) b .num_text:after {
  content: '22';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(45) {
  transform: rotate(calc(195deg + calc( 5*44deg) ));
}
.container .tachometer.gr .bar div:nth-child(45) b .num_text:after {
  content: '22';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(46) {
  transform: rotate(calc(195deg + calc( 5*45deg) ));
}
.container .tachometer.gr .bar div:nth-child(46) b .num_text:after {
  content: '23';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(47) {
  transform: rotate(calc(195deg + calc( 5*46deg) ));
}
.container .tachometer.gr .bar div:nth-child(47) b .num_text:after {
  content: '23';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(48) {
  transform: rotate(calc(195deg + calc( 5*47deg) ));
}
.container .tachometer.gr .bar div:nth-child(48) b .num_text:after {
  content: '24';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(49) {
  transform: rotate(calc(195deg + calc( 5*48deg) ));
}
.container .tachometer.gr .bar div:nth-child(49) b .num_text:after {
  content: '24';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(50) {
  transform: rotate(calc(195deg + calc( 5*49deg) ));
}
.container .tachometer.gr .bar div:nth-child(50) b .num_text:after {
  content: '25';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(51) {
  transform: rotate(calc(195deg + calc( 5*50deg) ));
}
.container .tachometer.gr .bar div:nth-child(51) b .num_text:after {
  content: '25';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(52) {
  transform: rotate(calc(195deg + calc( 5*51deg) ));
}
.container .tachometer.gr .bar div:nth-child(52) b .num_text:after {
  content: '26';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(53) {
  transform: rotate(calc(195deg + calc( 5*52deg) ));
}
.container .tachometer.gr .bar div:nth-child(53) b .num_text:after {
  content: '26';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(54) {
  transform: rotate(calc(195deg + calc( 5*53deg) ));
}
.container .tachometer.gr .bar div:nth-child(54) b .num_text:after {
  content: '27';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(55) {
  transform: rotate(calc(195deg + calc( 5*54deg) ));
}
.container .tachometer.gr .bar div:nth-child(55) b .num_text:after {
  content: '27';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(56) {
  transform: rotate(calc(195deg + calc( 5*55deg) ));
}
.container .tachometer.gr .bar div:nth-child(56) b .num_text:after {
  content: '28';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(57) {
  transform: rotate(calc(195deg + calc( 5*56deg) ));
}
.container .tachometer.gr .bar div:nth-child(57) b .num_text:after {
  content: '28';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(58) {
  transform: rotate(calc(195deg + calc( 5*57deg) ));
}
.container .tachometer.gr .bar div:nth-child(58) b .num_text:after {
  content: '29';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(59) {
  transform: rotate(calc(195deg + calc( 5*58deg) ));
}
.container .tachometer.gr .bar div:nth-child(59) b .num_text:after {
  content: '29';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(60) {
  transform: rotate(calc(195deg + calc( 5*59deg) ));
}
.container .tachometer.gr .bar div:nth-child(60) b .num_text:after {
  content: '30';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(61) {
  transform: rotate(calc(195deg + calc( 5*60deg) ));
}
.container .tachometer.gr .bar div:nth-child(61) b .num_text:after {
  content: '30';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(62) {
  transform: rotate(calc(195deg + calc( 5*61deg) ));
}
.container .tachometer.gr .bar div:nth-child(62) b .num_text:after {
  content: '31';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(63) {
  transform: rotate(calc(195deg + calc( 5*62deg) ));
}
.container .tachometer.gr .bar div:nth-child(63) b .num_text:after {
  content: '31';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(64) {
  transform: rotate(calc(195deg + calc( 5*63deg) ));
}
.container .tachometer.gr .bar div:nth-child(64) b .num_text:after {
  content: '32';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(65) {
  transform: rotate(calc(195deg + calc( 5*64deg) ));
}
.container .tachometer.gr .bar div:nth-child(65) b .num_text:after {
  content: '32';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(66) {
  transform: rotate(calc(195deg + calc( 5*65deg) ));
}
.container .tachometer.gr .bar div:nth-child(66) b .num_text:after {
  content: '33';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(67) {
  transform: rotate(calc(195deg + calc( 5*66deg) ));
}
.container .tachometer.gr .bar div:nth-child(67) b .num_text:after {
  content: '33';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.gr .bar div:nth-child(even) b .num_text:after {
  content: "";
}
.container .tachometer.oz .bar {
  position: absolute;
  width: 350px;
  height: 350px;
  z-index: 2;
}
.container .tachometer.oz .bar div {
  position: absolute;
  width: 350px;
  height: 350px;
  padding: 6px;
  box-sizing: border-box;
}
.container .tachometer.oz .bar div b {
  position: absolute;
  display: block;
  left: 50%;
  width: 1px;
  height: 30px;
  background: #add8fe;
  margin: 0 0px 0;
}
.container .tachometer.oz .bar div b .num_text {
  color: yellow;
  width: 40px;
  height: 40px;
  margin: 30px 0px 0px -20px;
  text-align: center;
  position: relative;
  transform: rotate(0deg) !important;
}
.container .tachometer.oz .bar div b .num_text:after {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.container .tachometer.oz .bar div:nth-child(even) b {
  position: absolute;
  display: block;
  left: 50%;
  width: 1px;
  height: 10px;
  background: rgba(173, 216, 254, 0.5);
  margin: 0 0px 0;
  top: 16px;
}
.container .tachometer.oz .bar div:nth-child(1) {
  transform: rotate(calc(195deg + calc( 7.08738*0deg) ));
}
.container .tachometer.oz .bar div:nth-child(1) b .num_text:after {
  content: '0';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(2) {
  transform: rotate(calc(195deg + calc( 7.08738*1deg) ));
}
.container .tachometer.oz .bar div:nth-child(2) b .num_text:after {
  content: '0.03';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(3) {
  transform: rotate(calc(195deg + calc( 7.08738*2deg) ));
}
.container .tachometer.oz .bar div:nth-child(3) b .num_text:after {
  content: '0.05';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(4) {
  transform: rotate(calc(195deg + calc( 7.08738*3deg) ));
}
.container .tachometer.oz .bar div:nth-child(4) b .num_text:after {
  content: '0.08';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(5) {
  transform: rotate(calc(195deg + calc( 7.08738*4deg) ));
}
.container .tachometer.oz .bar div:nth-child(5) b .num_text:after {
  content: '0.1';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(6) {
  transform: rotate(calc(195deg + calc( 7.08738*5deg) ));
}
.container .tachometer.oz .bar div:nth-child(6) b .num_text:after {
  content: '0.13';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(7) {
  transform: rotate(calc(195deg + calc( 7.08738*6deg) ));
}
.container .tachometer.oz .bar div:nth-child(7) b .num_text:after {
  content: '0.15';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(8) {
  transform: rotate(calc(195deg + calc( 7.08738*7deg) ));
}
.container .tachometer.oz .bar div:nth-child(8) b .num_text:after {
  content: '0.18';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(9) {
  transform: rotate(calc(195deg + calc( 7.08738*8deg) ));
}
.container .tachometer.oz .bar div:nth-child(9) b .num_text:after {
  content: '0.2';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(10) {
  transform: rotate(calc(195deg + calc( 7.08738*9deg) ));
}
.container .tachometer.oz .bar div:nth-child(10) b .num_text:after {
  content: '0.23';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(11) {
  transform: rotate(calc(195deg + calc( 7.08738*10deg) ));
}
.container .tachometer.oz .bar div:nth-child(11) b .num_text:after {
  content: '0.25';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(12) {
  transform: rotate(calc(195deg + calc( 7.08738*11deg) ));
}
.container .tachometer.oz .bar div:nth-child(12) b .num_text:after {
  content: '0.28';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(13) {
  transform: rotate(calc(195deg + calc( 7.08738*12deg) ));
}
.container .tachometer.oz .bar div:nth-child(13) b .num_text:after {
  content: '0.3';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(14) {
  transform: rotate(calc(195deg + calc( 7.08738*13deg) ));
}
.container .tachometer.oz .bar div:nth-child(14) b .num_text:after {
  content: '0.33';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(15) {
  transform: rotate(calc(195deg + calc( 7.08738*14deg) ));
}
.container .tachometer.oz .bar div:nth-child(15) b .num_text:after {
  content: '0.35';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(16) {
  transform: rotate(calc(195deg + calc( 7.08738*15deg) ));
}
.container .tachometer.oz .bar div:nth-child(16) b .num_text:after {
  content: '0.38';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(17) {
  transform: rotate(calc(195deg + calc( 7.08738*16deg) ));
}
.container .tachometer.oz .bar div:nth-child(17) b .num_text:after {
  content: '0.4';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(18) {
  transform: rotate(calc(195deg + calc( 7.08738*17deg) ));
}
.container .tachometer.oz .bar div:nth-child(18) b .num_text:after {
  content: '0.43';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(19) {
  transform: rotate(calc(195deg + calc( 7.08738*18deg) ));
}
.container .tachometer.oz .bar div:nth-child(19) b .num_text:after {
  content: '0.45';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(20) {
  transform: rotate(calc(195deg + calc( 7.08738*19deg) ));
}
.container .tachometer.oz .bar div:nth-child(20) b .num_text:after {
  content: '0.48';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(21) {
  transform: rotate(calc(195deg + calc( 7.08738*20deg) ));
}
.container .tachometer.oz .bar div:nth-child(21) b .num_text:after {
  content: '0.5';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(22) {
  transform: rotate(calc(195deg + calc( 7.08738*21deg) ));
}
.container .tachometer.oz .bar div:nth-child(22) b .num_text:after {
  content: '0.53';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(23) {
  transform: rotate(calc(195deg + calc( 7.08738*22deg) ));
}
.container .tachometer.oz .bar div:nth-child(23) b .num_text:after {
  content: '0.55';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(24) {
  transform: rotate(calc(195deg + calc( 7.08738*23deg) ));
}
.container .tachometer.oz .bar div:nth-child(24) b .num_text:after {
  content: '0.58';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(25) {
  transform: rotate(calc(195deg + calc( 7.08738*24deg) ));
}
.container .tachometer.oz .bar div:nth-child(25) b .num_text:after {
  content: '0.6';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(26) {
  transform: rotate(calc(195deg + calc( 7.08738*25deg) ));
}
.container .tachometer.oz .bar div:nth-child(26) b .num_text:after {
  content: '0.63';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(27) {
  transform: rotate(calc(195deg + calc( 7.08738*26deg) ));
}
.container .tachometer.oz .bar div:nth-child(27) b .num_text:after {
  content: '0.65';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(28) {
  transform: rotate(calc(195deg + calc( 7.08738*27deg) ));
}
.container .tachometer.oz .bar div:nth-child(28) b .num_text:after {
  content: '0.68';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(29) {
  transform: rotate(calc(195deg + calc( 7.08738*28deg) ));
}
.container .tachometer.oz .bar div:nth-child(29) b .num_text:after {
  content: '0.7';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(30) {
  transform: rotate(calc(195deg + calc( 7.08738*29deg) ));
}
.container .tachometer.oz .bar div:nth-child(30) b .num_text:after {
  content: '0.73';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(31) {
  transform: rotate(calc(195deg + calc( 7.08738*30deg) ));
}
.container .tachometer.oz .bar div:nth-child(31) b .num_text:after {
  content: '0.75';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(32) {
  transform: rotate(calc(195deg + calc( 7.08738*31deg) ));
}
.container .tachometer.oz .bar div:nth-child(32) b .num_text:after {
  content: '0.78';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(33) {
  transform: rotate(calc(195deg + calc( 7.08738*32deg) ));
}
.container .tachometer.oz .bar div:nth-child(33) b .num_text:after {
  content: '0.8';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(34) {
  transform: rotate(calc(195deg + calc( 7.08738*33deg) ));
}
.container .tachometer.oz .bar div:nth-child(34) b .num_text:after {
  content: '0.83';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(35) {
  transform: rotate(calc(195deg + calc( 7.08738*34deg) ));
}
.container .tachometer.oz .bar div:nth-child(35) b .num_text:after {
  content: '0.85';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(36) {
  transform: rotate(calc(195deg + calc( 7.08738*35deg) ));
}
.container .tachometer.oz .bar div:nth-child(36) b .num_text:after {
  content: '0.88';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(37) {
  transform: rotate(calc(195deg + calc( 7.08738*36deg) ));
}
.container .tachometer.oz .bar div:nth-child(37) b .num_text:after {
  content: '0.9';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(38) {
  transform: rotate(calc(195deg + calc( 7.08738*37deg) ));
}
.container .tachometer.oz .bar div:nth-child(38) b .num_text:after {
  content: '0.93';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(39) {
  transform: rotate(calc(195deg + calc( 7.08738*38deg) ));
}
.container .tachometer.oz .bar div:nth-child(39) b .num_text:after {
  content: '0.95';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(40) {
  transform: rotate(calc(195deg + calc( 7.08738*39deg) ));
}
.container .tachometer.oz .bar div:nth-child(40) b .num_text:after {
  content: '0.98';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(41) {
  transform: rotate(calc(195deg + calc( 7.08738*40deg) ));
}
.container .tachometer.oz .bar div:nth-child(41) b .num_text:after {
  content: '1';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(42) {
  transform: rotate(calc(195deg + calc( 7.08738*41deg) ));
}
.container .tachometer.oz .bar div:nth-child(42) b .num_text:after {
  content: '1.03';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(43) {
  transform: rotate(calc(195deg + calc( 7.08738*42deg) ));
}
.container .tachometer.oz .bar div:nth-child(43) b .num_text:after {
  content: '1.05';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(44) {
  transform: rotate(calc(195deg + calc( 7.08738*43deg) ));
}
.container .tachometer.oz .bar div:nth-child(44) b .num_text:after {
  content: '1.07';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(45) {
  transform: rotate(calc(195deg + calc( 7.08738*44deg) ));
}
.container .tachometer.oz .bar div:nth-child(45) b .num_text:after {
  content: '1.1';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(46) {
  transform: rotate(calc(195deg + calc( 7.08738*45deg) ));
}
.container .tachometer.oz .bar div:nth-child(46) b .num_text:after {
  content: '1.13';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(47) {
  transform: rotate(calc(195deg + calc( 7.08738*46deg) ));
}
.container .tachometer.oz .bar div:nth-child(47) b .num_text:after {
  content: '1.15';
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.container .tachometer.oz .bar div:nth-child(even) b .num_text:after {
  content: "";
}

