


.delta_indicator{
    background-color:blue;
    border-radius:50%;
    position:absolute;
    width:90%;
    height:90%;
    top:5%;
    left:5%;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    
}
